{% block _product_item_compare_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-item__compare'
    }) %}

        <div {{ block('block_attributes') }}>
           <div data-page-component-module="xngageproductcompare/js/app/datagrid/cell/product-compare-row-cell"></div>
        </div>
{% endblock %}

{% block _popup_compare_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' product-item__compare'
    }) %}
    	{% set options = {
        path: path('xngage_products_compare_index'),
    } %}

        <div {{ block('block_attributes') }}>
           <div data-page-component-module="xngageproductcompare/js/app/datagrid/cell/product-popup-compare" data-page-component-options="{{ options|json_encode }}"></div>
        </div>
{% endblock %}