<label class="custom-checkbox">
    <input type="checkbox"
            data-role="select-compare-cell"
            class="custom-checkbox__input"
        <% if (checked) { %>
            checked="checked"
        <% } %>
    >
    <span class="custom-checkbox__icon"></span>
        <span class="custom-checkbox__text"><%- _.__('xngage.product.compare_products.compare.label') %></span>
</label>
