<div class="DrawerTitle">
    <div class="GridWrapper">
        <div class="GridOffset">
            <div class="GridItemStyle title">
                <!-- <h5>Comparing <%= products.length %> Item(s)</h5> -->
                <h5>
                    <%- _.__('xngage.product.compare_products.compare_item.compare') %>
                        <%= products.length %>
                            <%- _.__('xngage.product.compare_products.compare_item.item') %>
                </h5>
            </div>
            <div class="GridItemStyle dropdown" data-role="select-icon-dropdown-wrapper">
                <div class="wrapper">
                    <span class="IconWrapper"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="6 9 12 15 18 9"></polyline>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="DrawerContent GridWrapper">
    <div class="DrawerContentWrapper">
        <div class="carouselWrapper embedded-list__slider no-transform embedded-arrows">
            <% _.each(products, function(product) { %>
                <div class='image-wrapper'>
                    <div class="icon-container">
                        <button tabindex="0" data-test-selector="productCompareRemoveProductButton"
                            data-role="remove-compare-item-cell" aria-owns='<%= product.id %>'>
                            <span class="IconWrapper">
                                <svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                </svg>
                            </span>
                        </button>
                    </div>
                    <a href="<%= product.url %>">
                        <img class="product-compare-image" src="<%= product.image %>" alt="image alt" />
                    </a>
                </div>

                <% }) %>
        </div>
    </div>
    <div  class="compare-buttons-wrapper" >
        <a href="<%= path %>" class="btn button-primary button " data-role="compare-button" style="width: 100%; margin-bottom: 10px;">
            <%- _.__('xngage.product.compare_products.compare.label') %>
        </a>
        <button class="btn button button-primary-reversed" style="width: 100%;" 
            data-role="remove-all-selected-compare-products">
            <%- _.__('xngage.product.compare_products.remove_all.label') %>
        </button>

    </div>
</div>