{% block _compare_product_cards_widget %}

	{% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'xngageproductcompare/js/app/components/compare-product-component-wrapper'
    }) %}
	{% set options = {
        blockId: id,
        reloadEvents: ['updateCpmareProductCarousel'],
        keepAttrs: ['aria-label'],
		restoreFormState: true
    } %}
	<div {{ block('block_attributes') }}>
		<div data-page-component-view="oroui/js/app/views/layout-subtree-view"
			 data-page-component-options="{{ options|json_encode }}">
			{% if products|length > 0 %}
				{{block_widget(block)}}
			{% else %}
				<h3 class='no-items-to-compare'>{{ no_products_label|trans }}</h3>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block _compare_items_properities_widget %}
	{% set products = block.parent.vars.products %}
	{% set attr = layout_attr_defaults(attr, {
                'data-page-component-module': 'orofrontend/js/app/components/list-slider-component',
                '~data-page-component-options': slider_options,
                '~class': ' compare-products-reference'
            }) %}
	<div class="compare-table-wrapper">
		{% if attributes|length > 0 and  items|length > 0 %}
			{% for attribute in attributes %}
				{% set attributeName = attribute.fieldName|split('_')[0] %}
				{% if attribute(items[0], attributeName) is defined %}
					<p class="product-propertires-title">{{ attributesLable[attribute.id] }}</p>
					<div {{ block('block_attributes') }} class=" content-wrapper">
						{% for product in items %}
							<div class="swiper-containers ">
								<p class='text-wrapper'>
									{% if attribute(product, attributeName) is iterable %}
										{% if attributeName == 'descriptions' %}
											{{ attribute(product, attributeName)|first|raw }}
										{% else %}
											<span>{{ attribute(product, attributeName)|first }}</span>
										{% endif %}
									{% elseif attribute.type == 'boolean' %}
										<span>{{ attribute(product, attributeName) ? 'Yes' : 'No' }}</span>
									{% else %}
										<span>{{ attribute(product, attributeName) }}</span>
									{% endif %}
								</p>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}


{% block _remove_all_button_widget %}
	{% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'xngageproductcompare/js/app/components/remove-selected-product-compare',
                '~data-page-component-options': {
					productListIndex: path('oro_product_frontend_product_index')
				},
    }) %}
	<div class="remove-all-wrapper" {{ block('block_attributes') }}>
		<button class="btn button-primary button " data-role="compare-products-back">{{ back_to_previous_page|trans }}</button>
		<button class="btn button-primary button " data-role="remove-all-products">{{ remove_all_label|trans }}</button>
	</div>
{% endblock %}


{% block _compare_product_compare_product_remove_icon_widget %}
	{% set uniqueId = "remove-selected-product-compare-" |uniqid %}
	{% set attr = layout_attr_defaults(attr, {
        'data-page-component-module': 'xngageproductcompare/js/app/components/remove-selected-product-compare',
        '~data-page-component-options': {
            id: product.id,
			dataRole: uniqueId,
			productListIndex: path('oro_product_frontend_product_index')

        },
    }) %}
	<div class='remove-container' {{ block('block_attributes') }} data-role='{{uniqueId}}'>
		<div class="icon-container">
			<button tabindex="0" data-test-selector="productCompareRemoveProductButton" aria-owns='<%= product.id %>' class="ButtonWrapper-sc-1pdgu8v kdunyE">
				<span class="IconWrapper">
					<svg focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<line x1="18" y1="6" x2="6" y2="18"></line>
						<line x1="6" y1="6" x2="18" y2="18"></line>
					</svg>
				</span>
			</button>
		</div>
	</div>

{% endblock %}
