.content-wrapper {
    width: 100%;
}
.product-propertires-title {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 16px;
    padding: 10px;
    background: rgb(243, 245, 248);
    min-height: 36px;
}
.swiper-containers {
    .text-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        min-height: 44px;
        span {
            white-space: pre-line;
        }
    }
}
.compare-table-wrapper {
    margin: 0 43px;
}
.remove-all-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 44px;
}
.no-items-to-compare {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
