.product-item {
    &__compare {
        position: absolute;
        left: 0;
    }
    &__select-row {
        &--list-view {
            padding-top: 20px;
        }
        &--gallery-view {
            text-align: end;
        }
    }
}
.popup-compare {
    left: 0;
    width: 100vw;
    height: 300px;
    position: fixed;
    bottom: 0px;
    background: rgb(248, 249, 250);
    box-shadow: gray 0px 0px 15px 0px;
    overflow: hidden auto;
    flex: initial;
    display: flex;
    flex-direction: column;
    transition: all 500ms ease-in-out 0s;
    z-index: 91;

    .DrawerTitle {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        padding: 5px 0px;
        min-height: 50px;
        flex: 0 0 auto;
        background: get-color('primary','main');
        color: get-color('secondary','light');
    }
    .wrapper {
        cursor: pointer;
    }
    .GridWrapper {
        -webkit-box-flex: 1;
        flex-grow: 1;
        width: 100%;
        margin: 0px auto;
        padding: 0px 21px;
        max-width: 1400px;
    }
    .GridOffset {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .GridItemStyle {
        box-sizing: border-box;
        margin: 0px;
        -webkit-box-flex: 0;
        flex-grow: 0;
        flex-shrink: 1;
        overflow-wrap: break-word;
        word-break: break-word;
        flex-basis: 50%;
        max-width: 50%;
        overflow: visible;
        display: flex;
        flex-direction: row;
        padding: 0px;
        &.dropdown {
            cursor: pointer;
        }
    }
    .title {
        -webkit-box-align: center;
        align-items: center;
        h5 {
            color:  #ffffff;
        }
    }
    .dropdown {
        align-items: flex-start;
        -webkit-box-pack: end;
        justify-content: flex-end;
    }
    .DrawerContent {
        overflow-y: auto;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        .compare-buttons-wrapper {
            margin: 10px;
            width: 145px;
        }
    }
    .DrawerContentWrapper {
        margin: 40px 20px 40px 0px;
        max-width: 1148px;
        width: 100%;
        overflow: hidden;
        height: 170px;
    }
    .carouselWrapper {
        &.embedded-list__slider.embedded-arrows {
            margin: 0 42px;
        }
        display: flex;
        align-items: center;
    }
}
.dropdown-hidden {
    transition: all 500ms ease-in-out 0s;
    bottom: -250px;
}
.rotate-dropdown-arrow {
    transform: rotate(-180deg);
}
.image-wrapper {
    height: 160px;
    width: 160px;
    margin: 5px;
    position: relative;
}
.product-item__image-holder {
    .image-wrapper,
    .remove-container {
        .icon-container {
            right: 0;
            left: initial;
        }
    }
}
.image-wrapper,
.remove-container {
    .icon-container {
        overflow: visible;
        display: flex;
        flex-direction: row;
        padding: 2px;
        overflow-wrap: break-word;
        word-break: break-word;
        position: absolute;
        left: 130px;
        top: 2px;
        width: 26px;
        height: 26px;
        max-width: 26px;
        flex-basis: 26px;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        button {
            cursor: pointer;
            border: 0px;
            background-color: transparent;
            box-shadow: none;
            outline: 0px;
            transform: translate(0px, 0px);
            &:hover {
                color: get-color('ui','error-dark');
            }
            .IconWrapper {
                svg {
                    width: 18px;
                    height: 18px;
                    line-height: 0;
                }
            }
        }
    }
    .product-compare-image {
        width: auto;
        height: 100%;
    }
}

.product-item--gallery-view {
    .product-item {
        &__compare {
            bottom: 32px;
        }
    }
}
.product-item__secondary-half--no-image-view {
    .product-item {
        &__compare {
            position: initial;
        }
    }
}

@media screen and (width: 768px) {
    .slick-list.draggable {
        margin-left: 30px;
    }
}
@media screen and (min-width: $breakpoint-tablet-small) {
    .product-item {
        &__compare {
            position: absolute;
            left: 0;
        }
        &__select-row {
            &--list-view {
                padding-top: initial;
                width: 100%;
                text-align: end;
            }
        }
    }
}
@media screen and (max-width: $breakpoint-mobile) {
    .popup-compare {
        .DrawerContentWrapper {
            display: none;
        }
        .DrawerContent {
            .compare-buttons-wrapper {
                width: initial;
            }
        }
    }
    .product-item--gallery-view {
        .product-item {
            &__compare {
                position: initial;
            }
        }
    }
}
